<div class="container">
    <div class="row">
        <h3 class="mu-title">Our Courses</h3>
    </div>
    <section>
        <div class="container">
          <div class="row">
                <!-- Start Title -->
                <!-- End Title -->
                <!-- Start latest course content -->
                  <div  class="col-lg-4 col-md-4 col-xs-12" >
                    <div class="mu-latest-course-single course-tile">
                      <figure class="mu-latest-course-img">
                        <a href="#"><img src="assets/img/courses/1.jpg" alt="img"></a>
                        <figcaption class="mu-latest-course-imgcaption">
                          <a href="#">Science Stream - Board</a>
                          <span><i class="fa fa-clock-o"></i>2 Years</span>
                        </figcaption>
                      </figure>
                      <div class="mu-latest-course-single-content">
                        <h4><a href="#">Class Room Programme For Science Stream Board Students</a></h4>
                        <p>This will cover all the curriculum required for board exams which will help students in clearing the boards with flying colours</p>
                        <div class="mu-latest-course-single-contbottom">
                          <a class="mu-course-details" href="#">Details</a>
                          <span class="mu-course-price" href="#">1,30,000/- + GST</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div  class="col-lg-4 col-md-4 col-xs-12 ">
                    <div class="mu-latest-course-single course-tile">
                      <figure class="mu-latest-course-img">
                        <a href="#"><img src="assets/img/courses/2.jpg" alt="img"></a>
                        <figcaption class="mu-latest-course-imgcaption">
                          <a href="#">Science Stream - JEE </a>
                          <span><i class="fa fa-clock-o"></i>2 Years</span>
                        </figcaption>
                      </figure>
                      <div class="mu-latest-course-single-content">
                        <h4><a href="#">Class Room Programme For Science Stream JEE Students</a></h4>
                        <p>This will cover all the important conecpts, tricks and method for the competitive based question of the JEE Exam</p>
                        <div class="mu-latest-course-single-contbottom">
                          <a class="mu-course-details" href="#">Details</a>
                          <span class="mu-course-price" href="#">1,30,000/- + GST</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div  class="col-lg-4 col-md-4 col-xs-12 ">
                    <div class="mu-latest-course-single course-tile">
                      <figure class="mu-latest-course-img">
                        <a href="#"><img src="assets/img/courses/3.jpg" alt="img"></a>
                        <figcaption class="mu-latest-course-imgcaption">
                          <a href="#">Science Stream - Medical</a>
                          <span><i class="fa fa-clock-o"></i>2 Years</span>
                        </figcaption>
                      </figure>
                      <div class="mu-latest-course-single-content">
                        <h4><a href="#">Class Room Programme For Science Stream Medical Students</a></h4>
                        <p>This will cover all the important conecpts, tricks and method for the competitive based question of the Medical Exam</p>
                        <div class="mu-latest-course-single-contbottom">
                          <a class="mu-course-details" href="#">Details</a>
                          <span class="mu-course-price" href="#">1,30,000/- + GST</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div  class="col-lg-4 col-md-4 col-xs-12 ">
                    <div class="mu-latest-course-single course-tile">
                      <figure class="mu-latest-course-img">
                        <a href="#"><img src="assets/img/courses/4.jpg" alt="img"></a>
                        <figcaption class="mu-latest-course-imgcaption">
                          <a href="#">Commerce - CA Foundation</a>
                          <span><i class="fa fa-clock-o"></i>2 Years</span>
                        </figcaption>
                      </figure>
                      <div class="mu-latest-course-single-content">
                        <h4><a href="#">Class Room Programme For Commerce Stream CA Foundation</a></h4>
                        <p>This will cover all the important conecpts, tricks and method for the competitive based question of the CA Foundation Exam</p>
                        <div class="mu-latest-course-single-contbottom">
                          <a class="mu-course-details" href="#">Details</a>
                          <span class="mu-course-price" href="#">1,10,000/- + GST</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div  class="col-lg-4 col-md-4 col-xs-12 ">
                    <div class="mu-latest-course-single course-tile">
                      <figure class="mu-latest-course-img">
                        <a href="#"><img src="assets/img/courses/4.jpg" alt="img"></a>
                        <figcaption class="mu-latest-course-imgcaption">
                          <a href="#">Commerce - CS Foundation</a>
                          <span><i class="fa fa-clock-o"></i>2 Years</span>
                        </figcaption>
                      </figure>
                      <div class="mu-latest-course-single-content">
                        <h4><a href="#">Class Room Programme For Commerce Stream CS Foundation</a></h4>
                        <p>This will cover all the important conecpts, tricks and method for the competitive based question of the CS Foundation Exam</p>
                        <div class="mu-latest-course-single-contbottom">
                          <a class="mu-course-details" href="#">Details</a>
                          <span class="mu-course-price" href="#">1,10,000/- + GST</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div  class="col-lg-4 col-md-4 col-xs-12 ">
                    <div class="mu-latest-course-single course-tile">
                      <figure class="mu-latest-course-img">
                        <a href="#"><img src="assets/img/courses/5.jpg" alt="img"></a>
                        <figcaption class="mu-latest-course-imgcaption">
                          <a href="#">Commerce - CLAT</a>
                          <span><i class="fa fa-clock-o"></i>2 Years</span>
                        </figcaption>
                      </figure>
                      <div class="mu-latest-course-single-content">
                        <h4><a href="#">Class Room Programme For Commerce Stream CLAT</a></h4>
                        <p>This will cover all the important conecpts, tricks and method for the competitive based question of the CLAT Exam</p>
                        <div class="mu-latest-course-single-contbottom">
                          <a class="mu-course-details" href="#">Details</a>
                          <span class="mu-course-price" href="#">1,10,000/- + GST</span>
                        </div>
                      </div>
                    </div>
                  </div>
                <!-- End latest course content -->
             
          </div>
        </div>
      </section>
</div>
