

input.ng-invalid.ng-touched{
    border: 1px solid red;
}
.error{
    color: red;
}

form {
    margin-left: 25%;
    margin-top: 15%;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    padding:20px;
    z-index: 999999999999999;
}
.btn{
    width: 100%;
}
.form-header{
    text-align: center;
    padding: 20px;
    font-weight: 600;
}
@media (max-width: 767px) {
    .form-header{
        text-align: center;
        padding: 20px;
        font-size: 15px !important;
    }
    
}
